/*.navbar {
    background-color: black;
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border-bottom: solid 1px red;
    height: 70px;

    & .container {
        height: inherit !important;
    }

    & .navbar-collapse, ul, ul li {
        min-height: 70px;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }

    & ul li a {
        line-height: 70px;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    & a {
        color: white !important;
        font-size: 16px !important;
    }

    &.small {
        height: 40px;

        & .navbar-collapse {
            min-height: 40px;

            & .navbar-collapse, ul, ul li {
                min-height: 40px;
            }

            & ul li a {
                line-height: 50px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}*/
section {
  padding-bottom: 50px;
  padding-top: 50px; }

.parallax-window {
  background-position: center, top; }

#sc-welcome {
  position: relative; }

#welcome-content {
  position: absolute;
  width: calc(100% - 200px);
  background-color: #000;
  opacity: 0.8;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.upcomingPanel {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  border-radius: 2px; }
  .upcomingPanel .eventTitle {
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    text-transform: uppercase; }
  .upcomingPanel .eventDate {
    color: white;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px; }
  .upcomingPanel .eventIcon {
    margin-top: 3px;
    margin-left: 6px; }

.phase-title {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-align: center; }

@media only screen and (max-width: 736px) {
  section {
    padding-bottom: 20px;
    padding-top: 20px; }
  #welcome-content {
    width: calc(100% - 50px);
    height: calc(100% - 100px); }
  .upcomingPanel {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px; }
    .upcomingPanel .eventTitle {
      color: white;
      margin-top: 5px;
      margin-left: 10px;
      font-size: 12px;
      text-transform: uppercase; }
    .upcomingPanel .eventDate {
      color: white;
      margin-top: 0px;
      margin-left: 10px;
      font-size: 12px; }
    .upcomingPanel .eventIcon, .upcomingPanel .eventIcon img {
      margin-top: 2px;
      margin-left: 1px;
      height: 34px;
      width: 34px; }
  .phase-title {
    font-size: 14px; } }

