
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="sc-welcome" class="parallax-window" data-parallax="scroll" data-position-y="top" data-position-x="left">
</section>

<section style="background-color:aquamarine;"></section>

<section style="background-color:darkorange;"></section>

