
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ctrl-home">

    <section id="sc-welcome" class="parallax-window" data-parallax="scroll" data-position-y="top" data-position-x="left">
        <div id="welcome-content" class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">

                </div>

                <div class="col-md-6 col-xs-12">

                </div>

            </div>
        </div>
    </section>

    <section id="sc-banner" style="background-color:#101010;">
        <div class="container">
            <ul id="thumbnails">
                <li ng-repeat="item in banners">
                    <a href="#slide{{ $index + 1 }}">
                        <img data-ng-src="data:image/jpg;base64,{{item.Data}}" alt="">
                    </a>
                </li>
            </ul>
            <div class="thumb-box">
                <ul class="thumbs">
                    <li ng-repeat="item in banners"><a href="#{{ $index + 1}}" data-slide="{{ $index + 1}}"><img data-ng-src="data:image/jpg;base64,{{item.Data}}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section style="background-color:aquamarine;"></section>

    <section id="sc-main" style="background-color:#000000;">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-8">
                    <div>
                        <div class="phase-title">
                            upcoming events
                        </div>
                        <div class="upcomingPanel" data-ng-style="SetBackground(item.Colors)" data-ng-repeat="item in upcomingEvents | orderBy:'Date'">

                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="eventIcon">
                                        <img src="~/Content/images/icons/t_0{{ item.GameType }}.png" />
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="eventTitle">
                                                {{ item.Name }}
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="eventDate">
                                                {{ item.DateCreatedFriendlyDateTime }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-3">

                                </div>

                            </div>





                        </div>

                        <div class="phase-title">
                            latest events
                        </div>
                        <div class="upcomingPanel" data-ng-style="SetBackground(item.Colors)" data-ng-repeat="item in recentEvents | orderBy:'Date'">

                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="eventIcon">
                                        <img src="~/Content/images/icons/t_0{{ item.GameType }}.png" />
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="eventTitle">
                                                {{ item.Name }}
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="eventDate">
                                                {{ item.DateCreatedFriendlyDateTime }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-3">

                                </div>

                            </div>





                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-md-4">

                </div>


            </div>
        </div>



    </section>

</div>
